<div class="row">
    <div class="col-lg-16">
        <div class="heatmap-wrap">
            <div class="heatmap"></div>
            <div class="heatmap-tooltip"></div>
            <div class="heatmap-bottom"></div>
            <div class="heatmap-loading">LOADING...</div>
        </div>
    </div>
</div>