body {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000000;
    color: #ffffff;
}

hr.style-two {
    border: 0;
    height: 1px;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 85%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(15%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.4)), color-stop(85%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.block {
    width: 100px;
    float: left;
}

.yellow {
    color: #ff9d00;
}

.center {
    text-align: center;
}

.header {
    margin-bottom: -150px
}

.factions-col {
    width: 33.33333333%;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative;
}
.factions-col div {
    margin-bottom: 10px;
}

.faction-panel {
    display: none;
    color: #414141;
    background: #f1f1f1;
    border: 1px solid #a9a9a9;
    position: absolute;
    top: 0;
    left: 385px;
    z-index: 99999;
    width: 530px;
    padding: 6px 8px;
    text-align: left;
}

.faction-panel-left {
    left: -500px;
}

.faction:hover + .faction-panel {
    display: block;
}

.faction-panel:hover {
    display: none;
}

.container-wide {
    width: 1230px;
}

.heatmap-wrap {
    position: relative;
    background-image: url(Images/11.jpg);
    width: 1200px;
    height: 1160px;
}

.heatmap {
    width: 100%;
    height: 100%;
}

.heatmap-bottom {
    position: absolute;
    background-image: url(Images/11_1.png);
    width: 1200px;
    height: 261px;
    top: 899px;
}

.heatmap-loading {
    position: absolute;
    top: 400px;
    left: 230px;
    color: #ff9d00;
    font-size: 140px;
    font-weight: bold;
}

.heatmap-tooltip {
    position: absolute;
    background: #000000;
    color: #ffffff;
    top: 0;
    left: 0;
    padding: 5px;
}

.heatmap-tooltip-coords {
    color: #ff9d00;
}

.heatmap-tooltip-kills {
    font-size: 18px;
}

.champion-stats-wrap {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 15px;
    cursor: pointer; 
    cursor: hand;
}
.champion-stats-wrap div {
    margin-bottom: 10px;
}

.champion-panel {
    display: none;
    color: #414141;
    background: #f1f1f1;
    border: 1px solid #a9a9a9;
    position: absolute;
    top: 0;
    left: 150px;
    z-index: 99999;
    width: 300px;
    padding: 6px 8px;
    text-align: left;
}

.champion-panel-left {
    left: -300px;
}

.champion-stats-wrap:hover + .champion-panel {
    display: block;
}

.champion-panel:hover {
    display: none;
}

.ChampionCenter {
    margin: 0 auto;
}

.faction-stats-wrap {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #000000;
    font-size: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
